* {
  margin: 0px;
  padding: 0px;
}

.header {
  width: 100%;
  height: 100vh;
  margin-top: 30px;


}

.header .navbr {
  overflow: hidden;
  display: flex;
 position: absolute;
  top: 0;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.497);
  font-family: "Open Sans", sans-serif;

  
}

.header .navbr .thanks {
  width: 5%;
  margin: 20px 0px;
}

.header .navbr .thanks img {
  width: 35%;
  cursor: pointer;
}

/*------------------------------------ end thanks--------------------------------*/

.header .navbr .uli {
  width: 50%;
  margin: 20px 0px;
}
.navbr li{
  position: relative;
}
.header .navbr .uli ul {
  list-style-type: none;
}

.header .navbr .uli ul li {
  float: right;
  margin: 0px 10px;
}
.header .navbr .uli ul .bars{
 display: none;
}
.header .navbr .uli ul li a {
  font-size: 17px;
  text-decoration: none;
  color: #444444;
  padding: 5px;
  
}

.header .navbr .uli ul li .lii{
  color: orange;
}

.header .navbr .uli ul li a:hover {
  color: orange;
}

.header .navbr .uli .btn1 {
  width: auto;
  height: auto;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 550;
  border: 2px solid orange;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s;
  background-color: white;
}

.header .navbr .uli .btn1 i{
  color: orange;
  padding: 2px;
}

.header .navbr .uli .btn1:hover {
  background-color: orange;
  color: white;
}

/*------------------ end uli -----------------------------------------*/
/*====================== end navbr ==========================================*/

.header .home{
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: 30px;
  
}

.header .home .main{
  width: 50%;
  margin-right: 30px;
}

.header .home .main h1{
  font-size: 50px;
  padding-top: 100px;
}

.header .home .main p{
  font-size: 25px;
  margin-top: 12px;
  color: #444444;
}

.header .home .main button{
  margin-top: 40px;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  font-weight: 550;
  border: 1px solid orange;
  border-radius: 25px;
  background-color: orange;
  cursor: pointer;
}

.header .home .main button:hover{
  background-color: #01b8dc;
  border: 1px solid #01b8dc;
}

.header .home .shokran-logo{
  width: 30%;
  animation-name:animate;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

@keyframes animate{
  25%{
        transform: translateY(50px);
  }

  50%{
      transform: translateY(0px);
  }

  75%{
      transform: translateY(50px);
  }
}

.header .home .shokran-logo img{
  width: 100%;
  height: 100%;
}

/*============================== end home=============================*/

.header .iconn{
  padding: 20px 0px;
  margin-top: 50px;
  background-color: #f3f5fa;
  display: flex;
  justify-content: center;
}

.header .iconn div{
  width: 5%;
  padding: 0px 40px;
}

.header .iconn div img{
  width: 90%;
  height: 90%;
  transition: all 3s;
}

.header .iconn div img:hover{
 transform: scale(2,2.5);
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&& END header $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.using{
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.using .main{
  width: 100%;
  text-align: center;
  color: #37517e;
  font-weight: bold;
  font-size: 25px;
}

.using .main hr{
   width: 7%;
   margin: auto;
   margin-top: 15px;
}

/*------------------end main---------------------------------*/

.using .contact{
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 30px 0px;
}

.using .contact .col-1{
  padding: 0px 20px;
  margin-right: 30px;
  width: 40%;
  float: left;
}

.using .contact .col-1 img{
  width: 100%;
  height: 100%;
}

.using .contact .col-2{
  width: 45%;
  padding: 0px 20px;
}

.using .contact .col-2 p{
 font-family: "Open Sans", sans-serif;
 font-size: 17px;
 color: #444444;
}

.using .contact .col-2 button{
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 32px;
  border-radius: 4px;
  color: #F3A202;
  margin-top: 25px;
  border: 2px solid #F3A202;
  cursor: pointer;
}

.using .contact .col-2 button:hover{
  background-color: orange;
  color: white;
}

/*============================== end using================================*/

.about{
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .main{
  width: 100%;
  text-align: center;
  color: #37517e;
  font-weight: bold;
  font-size: 25px;
}

.about .main hr{
   width: 7%;
   margin: auto;
   margin-top: 15px;
}

/*----------------------- end about-main-----------------------------------*/

.about .who{
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 30px 0px;
}

.who p{
  font-family: "Open Sans", sans-serif;
 font-size: 18px;
 color: #444444;
 margin-bottom: 15px;
}

.about .who .col-1{
  margin-right: 70px;
  width: 50%;
  float: left;
}

.about .who .col-1 ul li i{
  color: orange;
  font-size: 20px;
}

.about .who .col-1 ul {
  list-style-type: none;
}

.about .who .col-1 ul li {
  margin: 0px 15px;
  padding: 10px 0px;
  color: #444444;
}

.about .who .col-2{
 width: 40%;
}

.about .who .col-2 button{
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 32px;
  border-radius: 4px;
  color: #F3A202;
  margin-top: 25px;
  border: 2px solid #F3A202;
  cursor: pointer;
}

.about .who .col-2 button:hover{
  background-color: orange;
  color: white;
}

/* ============================ end about ===========================*/

.categori{
  background-color: rgb(146, 146, 146, 0.1);
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categori .main{
  width: 100%;
  text-align: center;
  color: #37517e;
  font-weight: bold;
  font-size: 25px;

}

.categori .main hr{
   width: 10%;
   margin: auto;
   margin-top: 20px;
}

/*------------------------------ end categori-main-------------------------*/

.categori .service{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  padding: 30px 0px;
}


.categori .service .divs{
  width: 30%;
  padding: 10px;
  overflow: auto;
  background-image: url(../image/cover.jpg);
  

  background-size: cover;
  
  
}

.categori .service .divs img{
  width: 100%;
  height:75%;
  border: 1px solid rgb(146, 146, 146, 0.1);
  border-radius: 20px;
  transition: all 1s;
}

.categori .service .divs img:hover{
  transform: translateY(25px)
}

.categori .service .divs div{
  width: 100%;
  height: 7%;
}

.categori .service .divs div h4{
  background-size: cover;
  font-weight: 500;
  font-size: 30px;
  font-family: 'Amiri', serif;
  color: white ;
  text-align: center;
  background-color: #F3A202;
  padding: 10px 0px;
  cursor: pointer;

}

/*------------------------------ end service--------------------------*/

.categori .prand{
  width: 70%;
  padding: 25px 0px;
  text-align: center;
  margin-top: 20px;
}

.categori .prand h2{
  color: #37517e;
  font-weight: bold;
  font-size: 35px;
}

.categori .prand hr{
   width: 7%;
   margin: auto;
   margin-top: 15px;
}

.categori .prand p{
  font-size: 20px;
  color: #444444;
  margin-top: 15px;
  font-family: 'Amiri', serif;
}

/*---------------------------- end prand --------------------------------------*/

.categori .photos{
  width: 70%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  margin-top: 10px;
}

.categori .photos div{
  width: 17%;
}

.categori .photos div img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 3s;
}

.categori .photos div img:hover{
  transform: scale(1.2,1.2);
}

/*========================== end categori =====================================*/

.contact{
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .main{
  width: 70%;
  padding: 10px 0px;
  text-align: center;
  margin-top: 15px;
}


.contact .main h2{
  color: #37517e;
  font-weight: bold;
  font-size: 35px;
}

.contact .main hr{
   width: 7%;
   margin: auto;
   margin-top: 15px;
}

.contact .main p{
  font-size: 20px;
  color: #444444;
  margin-top: 15px;
  font-family: 'Amiri', serif;
}

/*----------------------- end main-----------------------------*/

.contact .row{
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  margin-top: 10px;
}

.contact .row .divss{
 width: 45%;
 height: 500px;
 margin-right: 15px;
}

.contact .row .divss img{
  width: 100%;
  height: 100%;
}

.contact .row .form{
  width: 45%;
  height: 500px;
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact .row .form .your{
  width: 90%;
  padding: 15px 0px;
}

.contact .row .form .your label{
  font-size: 20px;
  color: #444444;
  padding: 10px;
}

.contact .row .form .your input{
  height: 30px;
  border: 1px solid #444444;
  border-radius: 7px;
}

.contact .row .form  .mess{
  width: 90%;
  margin-left: 10px;
}

.contact .row .form  .mess label{
 display: block;
 font-size: 20px;
 color: #444444;
 padding: 10px;
}

.contact .row .form  .mess textarea{
  width: 93%;
  padding: 5px;
  border: 1px solid #444444;
  border-radius: 7px;
}

.contact .row .form .btn{
  width: 90%;
  text-align: center;
}

.contact .row .form .btn button{
  margin-top: 40px;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  font-weight: 550;
  border: 1px solid orange;
  border-radius: 25px;
  background-color: orange;
  cursor: pointer;
}

.contact .row .form .btn button:hover{
  background-color: #01b8dc;
  border: 1px solid #01b8dc;
}

/*-------------------------- end row -----------------------------------*/

.contact .social{
  width: 72%;
  padding: 30px 0px;
  margin-top: 40px;
}

.contact .social h4{
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
  font-family: "Jost", sans-serif;
}

.contact .social p{
  color: #444444;
  font-size: 18px;
}

.contact .social .iconss{
  width: 40%;
  padding: 20px 0px;
  display: flex;
}

.contact .social .iconss div{
  width: 10%;
  border: 1px solid orange ;
  background-color: orange;
  border-radius: 50%;
  text-align: center;
  margin: 0px 10px;
  cursor: pointer;
}

.contact .social .iconss div:hover{
  background-color: #37517e;
}

.contact .social .iconss div i{
  font-size: 25px;
  color: white;
}

/* ======================= end social ==============================*/
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ END CONTACT $$$$$$$$$$$$$$$$$$$$$$$$$$*/

.last{
  width: 100%;
  padding: 45px 0px;
  background-color: #37517e;
  display: flex;
  justify-content: space-around;
}

.last .copy{
  width: 30%;
  color: white;
}

.last .design{
  width: 30%;
  color: white;
}

.last .design p{
  margin-bottom: 20px;
}

.last .design a{
  text-decoration: none;
  color: orange;
}

/*************************Start media***************************************/

@media(max-width:950px){
  *{
      margin: 0px;
      padding: 0px;
  }

  .body{
      text-align: center;
  }

  .header{
      height: auto;

  }
  .header .navbr .uli ul li,
  .header .navbr .uli button{
    display: none;
  }
               
  
  .header .navbr .uli ul .bars{
    display: inline-block;
    font-size: 24px;
  
}


  .header .navbr .thanks{
      width: 30%;
  }

  .header .home{
      width: 90%;
      flex-wrap: wrap;
      padding: 10px 0px;
      text-align: center;
      padding: 0px;
  }

  .header .home .main{
      width: 95%;
      margin-right: 0px;
      padding: 0px;
      margin-left: 20px;
  }

  .header .home .main h1 {
      font-size: 45px;
      padding-top: 150px;
  }

  .header .home .main p{
      font-size: 20px;
      margin-top: 10px;
  }

  .header .home .main button{
      margin-top: 20px;
      padding: 5px 10px;
  }

  .header .home .shokran-logo{
      width: 50%;
      margin-top: 30px;
      padding: 20px 5px;
      margin-left: 10px;
  }

  @keyframes animate{
      25%{
            transform: translateY(20px);
      }
  
      50%{
          transform: translateY(40px);
      }
  
      75%{
          transform: translateY(20px);
      }
  }
  .header .iconn{
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .header .iconn div{
      padding: 10px;
      width: 35%;
  }

  .header .iconn div img{
      width: 80%;
      height: 80%;
  }

  /*----------------------- end header-------------------------------------*/

  .using{
      padding: 30px 0px;
  }

  .using .contact{
      width: 95%;
      justify-content: space-around;
  }

  .using .contact .col-1{
      padding: 15px 0px;
      width: 100%;
      margin-right: 0px;
  }

  .using .contact .col-2{
      padding: 10px 0px;
      width: 100%;
  }

  /*----------------------------- end using -----------------------------*/

  .about{
      padding: 30px 0px;
  }

  .about .who{
      flex-wrap: wrap;
      justify-content: space-around;
      width: 95%;
  }

  .about .who .col-1{
      margin-right: 0px;
      width: 97%;
  }

  .about .who .col-1 ul li{
      margin: 0px;
  }

  .about .who .col-2{
      width: 97%;
      margin-top: 20px;
  }

  .about .who .col-2 button{
      margin-top: 15px;
  }

  /*--------------------------- end about ---------------------------------*/

  .categori{
      padding: 30px 0px;
  }

  .categori .service{
      width: 95%;
  }

  .categori .service .divs{
      padding: 15px 0px;
      width: 95%;
  }

  .categori .service .divs img{
      width: 98%;
  }

  .categori .service .divs div{
      width: 98%;
  }

  .categori .prand{
      margin-top: 0px;
      width: 95%;
  }

  .categori .photos{
      width: 95%;
      flex-wrap: wrap;
  }

  .categori .photos div{
      width: 75%;
      padding: 15px 0px;
  }

  /*--------------------- end categori --------------------------------*/

  .contact{
      padding: 20px 0px;
  }

  .contact .main{
      width: 95%;
  }

  .contact .row{
      padding: 20px 0px;
      width: 95%;
      flex-wrap: wrap;
  }

  .contact .row .divss{
      width: 95%;
      margin-right: 0px;
      height: 250px;
      padding: 0px 0px;
      overflow: auto;
  }

  .contact .row .divss img{
      width: 99%;
      height: 95%;
  }

  .contact .row .form{
      background-color: rgb(210, 210, 210);
      width: 95%;
      height: 600px;
      padding: 0px 0px;
      overflow: auto;
      margin-top: 0px;
  }

  .contact .row .form .your{
      width: 98%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .contact .row .form .your label{
      width: 95%;
  }

  .contact .row .form .your input{
      width: 93%;
  }

  .contact .row .form .mess{
      margin-left: 0px;
      width: 95%;
  }

  .contact .row .form .btn button{
      margin-top: 0px;
  }

  .contact .social{
      width: 93%;
  }

  .contact .social .iconss{
      width: 80%;
      padding: 15px 0px;
  }

  .contact .social .iconss div{
      width: 15%;
      margin: 0px 6px;
  }

  /*------------------------------ end contact ----------------------------*/

  .last{
      width: 100%;
      flex-wrap: wrap;
      padding: 20px 0px;
  }

  .last .copy{
      width: 100%;
      text-align: center;
  }

  .last .design{
      width: 100%;
      text-align: center;
      margin-top: 20px;
  }

}